// .download {
// padding: 114px 0;
// @media (max-width: 1024px) {
//   padding: 78px 0;
// }
// @media (max-width: 600px) {
//   padding: 34px 0 45px;
// }
// }
// .download-title {
// }
.download-title {
  color: $text_down_black;
  width: 80%;
  margin: auto;
  text-transform: capitalize;
  margin-bottom: 22px;
  .word {
    font-size: $_30px;
    line-height: $_35px;
    font-weight: 500;
    color: $text_down_black;
    text-transform: lowercase;
  }
}
.download-subtitle {
  font-weight: 700;
  margin: 0 auto 48px;
  width: 80%;
  text-transform: uppercase;
}
.btn {
  @include btn;
}
